################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Netcore/.vs/Netcore/v16
/Netcore/Netcore/obj
